<div class="offer" id="offer" style="min-height: calc(100vh - 50px)">
  <header class="offer_header">
    <div class="container offer_header-container">
      <div class="row">
        <div class="col-4">
          <ul style="font-size: 0.9em" class="gr1">
            <li>
              <div>
                <img src="assets/static/Checks.svg" class="gr1_checks" />
                <span>Производство промышленных сенсорных киосков</span>
              </div>
            </li>
            <li>
              <div>
                <img src="assets/static/Checks.svg" class="gr1_checks" />
                <span>Производство интерактивного оборудования</span>
              </div>
            </li>
            <li>
              <div>
                <img src="assets/static/Checks.svg" class="gr1_checks" />
                <span>Производство систем автоматических касс</span>
              </div>
            </li>
            <li>
              <div>
                <img src="assets/static/Checks.svg" class="gr1_checks" />
                <span>Производство систем электронной очереди</span>
              </div>
            </li>
            <li>
              <div>
                <img src="assets/static/Checks.svg" class="gr1_checks" />
                <span>Разработка технологических ИТ платформ</span>
              </div>
            </li>
          </ul>
        </div>

        <div class="col-4" style="text-align: center; display: flex">
          <div class="gr2" style="
              margin: auto;
              display: flex;
              flex-direction: column;
              gap: 1em;
            ">
            <div>
              <img src="assets/static/logo_new.png" style="max-width: 300px" />
            </div>
            <div>
              <img src="assets/static/location.png" style="width: 15px" />
              191040, Санкт-Петербург Лиговский пр-т д.50, корп. 15
            </div>
          </div>
        </div>

        <div class="col-4 gr3">
          <div class="gr3_phone">
            <a href="tel:8 (800) 100-47-78 ">8 (800) 100-47-78 </a>
          </div>
          <div class="gr3_phone">
            <a href="tel:+7 (812) 309-02-36">+7 (812) 309-02-36</a>
          </div>
          <div class="gr3_email">
            <img src="assets/static/envelope.png" style="width: 15px; margin-right: 0.5em" />
            <a href="mailto:sales@automat-service.ru">sales@automat-service.ru</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div *ngIf="model" class="offer_body container" id="offer-container">
    <!-- Заявки на обр. связь -->
    <div class="offer_body__feedbackRequests row" id="feedbackRequests" *ngIf="model.feedbackRequests.length">
      <div class="col-12">
        <mat-card class="offer_body__feedbackRequests-card">
          <h3>Заявки на обратную связь</h3>
          <div *ngFor="let request of model.feedbackRequests" class="row offer_body__feedbackRequests-card-row">
            <div class="col-4">
              <mat-form-field>
                <mat-label>Заявка</mat-label>
                <textarea autosize style="resize: none" disabled matInput [(ngModel)]="request.text"></textarea>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Ответ</mat-label>
                <textarea autosize style="resize: none" matInput [(ngModel)]="request.answerText"></textarea>
              </mat-form-field>
            </div>
            <!-- <div class="col-2">
              <input
                type="file"
                placeholder="Choose file"
                style="display: none"
                accept="image/*"
                (change)="uploadFile(answer.files)"
                #answer
              />

              <button
                mat-raised-button
                class="fileButton"
                (click)="answer.click()"
              >
                Добавить изображение
              </button>
            </div> -->
            <div class="col-2" style="display: flex">
              <button mat-raised-button (click)="answerOnRequest(request)" style="margin: auto">
                Отправить ответ
              </button>
            </div>
            <mat-divider></mat-divider>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="offer_body__header">
      <div class="offer_body__header-h">
        <strong>КОММЕРЧЕСКОЕ ПРЕДЛОЖЕНИЕ</strong> № {{ model.number }} от
        {{ model.changed | date: "dd.MM.YYYY" }}
      </div>

      <div class="offer_body__header-b">
        <span class="faded-50">Для: </span>
        <strong>{{ model.client.name }}</strong>
      </div>

      <div class="offer_body__header-b" style="padding-top: 0.5em">
        <span class="faded-50">E-mail: </span>
        <span>
          <a [href]="managerEmailLink" style="color: #ff9000">{{
            model.managerEmail
            }}</a></span>
      </div>
    </div>

    <div class="offer_body__content">
      <div *ngFor="let section of model.sections" class="section">
        <div class="section_header">
          <div class="section_header__inner">
            <img [src]="getIconPathByName(section.name)" class="section_header__inner-img" />
            <div class="section_header__inner-text">{{section.name}}</div>
          </div>
        </div>
        <div class="section_body">

          <ng-container *ngIf="section.type == 'description'">
            <div style="display: flex; flex-wrap: wrap; align-items: flex-start; gap: 1em; padding-bottom: 1em;">
              <img *ngFor="let imgPath of section.imagePaths" [src]="imgPath" class="section_body__image" (click)="goToPage(imgPath)">
            </div>
            <div class="ql-container ql-snow" style="border-width: 0">
              <div class="ql-editor" [innerHTML]="getSanitizedData(section.data)"></div>
            </div>
          </ng-container>

          <ng-container *ngIf="section.type == 'offerPoint' || section.type == 'text'">
            <div class="ql-container ql-snow" style="border-width: 0">
              <div class="ql-editor" [innerHTML]="getSanitizedData(section.data)"></div>
            </div>
          </ng-container>

          <ng-container *ngIf="section.type == 'img'">
            <div>
              <img *ngFor="let imgPath of section.imagePaths" [src]="imgPath" class="section_body__image" (click)="goToPage(imgPath)" />
            </div>
          </ng-container>

        </div>
      </div>
    </div>

    <div style="display: flex; justify-content: center;">
      <button mat-button id="download_btn" (click)="download()" style="background-color: #FF9000; color: #fff; width: 300px;">
        Скачать
      </button>
    </div>
  </div>
</div>

<footer class="offer_footer">
  <div>
    ООО "Автомат-Сервис", 191040, Санкт-Петербург Лиговский пр-т д.50, корп. 15
  </div>
  <div>
    ИНН 7802398406 КПП 780201001, 8 (800) 100-47-78 http://automat-service.ru
  </div>
</footer>

<div class="loader" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>