<div>
  <mat-toolbar color="primary" style="font-size: 1em">
    <div *ngIf="isLoggedIn()">
      <span *ngIf="isAdmin" class="routerItem" (click)="goTo('managers')">Список менеджеров</span>
      <span class="routerItem" (click)="goTo('clients')">Список клиентов</span>
      <span class="routerItem" (click)="goTo('offers')">Список КП</span>
    </div>

    <div style="flex: 1"></div>
    <div *ngIf="isLoggedIn()">{{ userName }}</div>

    <button *ngIf="!isLoggedIn()" mat-icon-button (click)="goToLogin()">
      Вход
    </button>

    <button *ngIf="isLoggedIn()" mat-button (click)="logout()" color="accent">
      Выйти из системы
    </button>
  </mat-toolbar>
</div>