<div>
  <mat-toolbar color="primary" style="font-size: 1em">
    <div *ngIf="isLoggedIn()">
      <span
        *ngIf="isAdmin"
        class="routerItem clickable"
        routerLink="/managers"
        routerLinkActive="routerItem_active"
        >Список менеджеров</span
      >
      <span
        *ngIf="isAdmin"
        class="routerItem clickable"
        routerLink="/emailSettings"
        routerLinkActive="routerItem_active"
        >Настройки email</span
      >
      <span
        class="routerItem clickable"
        routerLink="/clients"
        routerLinkActive="routerItem_active"
        >Список клиентов</span
      >
      <span
        class="routerItem clickable"
        routerLink="/offers"
        routerLinkActive="routerItem_active"
        >Список КП</span
      >
    </div>

    <div style="flex: 1"></div>
    <div *ngIf="isLoggedIn()">{{ userName }}</div>

    <button *ngIf="!isLoggedIn()" mat-icon-button (click)="goToLogin()">
      Вход
    </button>

    <button *ngIf="isLoggedIn()" mat-button (click)="logout()" color="accent">
      Выйти из системы
    </button>
  </mat-toolbar>
</div>
