<div class="manager container container-custom">
    <form [formGroup]="form">
        <mat-form-field class="manager_form__field">
            <mat-label>Новый пароль</mat-label>
            <input matInput required type="password" formControlName="password" />
            <mat-error *ngIf="formControls.password?.errors?.required">
                Поля <strong>обязательно</strong> для заполнения
            </mat-error>
        </mat-form-field>

        <mat-form-field class="manager_form__field">
            <mat-label>Подтверждение</mat-label>
            <input matInput required type="password" formControlName="newPassword" />
            <mat-error *ngIf="formControls.newPassword?.errors?.required">
                Поля <strong>обязательно</strong> для заполнения
            </mat-error>
        </mat-form-field>

        <mat-form-field class="manager_form__field">
            <mat-label>Пароль администратора</mat-label>
            <input matInput required type="password" formControlName="adminPassword" />
            <mat-error *ngIf="formControls.adminPassword?.errors?.required">
                Поля <strong>обязательно</strong> для заполнения
            </mat-error>
        </mat-form-field>
    </form>
    <div>
        <button  style="width:100%" mat-raised-button color="primary" [disabled]="buttonDisabled" (click)="update()">
            Обновить
        </button>
    </div>
</div>