<div class="client">
  <form class="client_form" #clientForm="ngForm" (ngSubmit)="submit()">
    <mat-form-field class="client_form__field" appearance="fill">
      <mat-label>Название</mat-label>
      <input
        matInput
        required
        [errorStateMatcher]="errorStateMatcher"
        type="text"
        [(ngModel)]="model.name"
        name="name"
        #name="ngModel"
      />
      <mat-error *ngIf="name.hasError('required')">
        Поля <strong>обязательно</strong> для заполнения
      </mat-error>
    </mat-form-field>

    <mat-form-field class="client_form__field" appearance="fill">
      <mat-label>Названия юрлиц</mat-label>
      <textarea
        rows="3"
        matInput
        [cdkTextareaAutosize]
        [errorStateMatcher]="errorStateMatcher"
        [(ngModel)]="model.legalEntitiesNames"
        name="legalEntitiesNames"
        #legalEntitiesNames="ngModel"
      >
      </textarea>
    </mat-form-field>

    <mat-form-field class="client_form__field" appearance="fill">
      <mat-label>Названия сайтов и доменов</mat-label>
      <textarea
        rows="3"
        matInput
        [cdkTextareaAutosize]
        [errorStateMatcher]="errorStateMatcher"
        [(ngModel)]="model.domainNames"
        name="domainNames"
        #domainNames="ngModel"
      >
      </textarea>
    </mat-form-field>

    <mat-form-field class="client_form__field" appearance="fill">
      <mat-label>Контактное лицо</mat-label>
      <textarea
        rows="1"
        matInput
        [cdkTextareaAutosize]
        [errorStateMatcher]="errorStateMatcher"
        [(ngModel)]="model.contact"
        name="contact"
        #contact="ngModel"
      >
      </textarea>
    </mat-form-field>

    <mat-form-field class="client_form__field" appearance="fill">
      <mat-label>Диагностика клиента</mat-label>
      <textarea
        rows="3"
        matInput
        [cdkTextareaAutosize]
        [errorStateMatcher]="errorStateMatcher"
        [(ngModel)]="model.diagnostics"
        name="diagnostics"
        #diagnostics="ngModel"
      >
      </textarea>
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary" *ngIf="!isEdit">
      Создать
    </button>

    <div *ngIf="isEdit && !isLoading" class="client_form__buttons">
      <button
        mat-raised-button
        color="primary"
        class="client_form__buttons-button"
        [disabled]="!modelChanged"
        (click)="update()"
      >
        Обновить
      </button>
      <button
        mat-raised-button
        color="warn"
        class="client_form__buttons-button"
        (click)="delete()"
      >
        Удалить
      </button>
    </div>
  </form>
  <div *ngIf="model.offers?.length">
    <h3>КП клиента</h3>
    <ul>
      <li *ngFor="let offer of model.offers">
        <a [routerLink]="getOfferLink(offer)">{{ offer.number }}</a>
      </li>
    </ul>
  </div>
</div>

<div class="loader" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
