<div class="container container-custom">
  <h2>Список КП</h2>

  <div class="row">
    <div class="col">
      <mat-radio-group [formControl]="archivedFilter" style="display: flex; flex-direction: column; gap: 0.5em">
        <mat-radio-button value="1">Все</mat-radio-button>
        <mat-radio-button value="2">Только активные</mat-radio-button>
        <mat-radio-button value="3">Только архивные</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-10">
      <button mat-raised-button color="primary" [routerLink]="['/offers/edit', '']">
        Добавить
      </button>
    </div>

    <div class="col-2">
      <mat-form-field appearance="standard" style="width: 100%;">
        <mat-label>Поиск</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Введите фразу для поиска" #input />
      </mat-form-field>
    </div>
  </div>

  <!-- 
  <div>
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['/offers/edit', '']"
    >
      Добавить
    </button>
  </div> -->

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row" class="clickable" [routerLink]="['/offers/edit', row.id]">
          {{ row.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Номер</th>
        <td mat-cell *matCellDef="let row" class="clickable" [routerLink]="['/offers/edit', row.id]">
          {{ row.number }}
        </td>
      </ng-container>

      <ng-container matColumnDef="clientName">
        <th mat-header-cell *matHeaderCellDef>Клиент</th>
        <td mat-cell *matCellDef="let row" class="clickable" [routerLink]="['/offers/edit', row.id]">
          {{ row.clientName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата создания</th>
        <td mat-cell *matCellDef="let row" class="clickable" [routerLink]="['/offers/edit', row.id]">
          {{ row.created | date:"dd.MM.yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Статус</th>
        <td mat-cell *matCellDef="let row" class="clickable" [routerLink]="['/offers/edit', row.id]">
          {{ row.status }}
        </td>
      </ng-container>

      <ng-container matColumnDef="archive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>В архиве</th>
        <td mat-cell *matCellDef="let row" class="clickable" [routerLink]="['/offers/edit', row.id]">
          {{ row.isArchived | booleanText }}
        </td>
      </ng-container>

      <ng-container matColumnDef="del">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-icon style="cursor: pointer" color="warn" aria-hidden="false" (click)="delete(row.id)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[20, 40, 100]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>

<div class="loader" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>