<div>
    <form #loginForm="ngForm"
          (ngSubmit)="loginClick()">

        <div>
            <mat-form-field>
                <mat-label>Login</mat-label>
                <input matInput
                       required
                       [errorStateMatcher]="errorStateMatcher"
                       type="text"
                       [(ngModel)]="loginModel.login"
                       name="text"
                       #login="ngModel" />
                <mat-error *ngIf="login.hasError('required')">
                    Поля <strong>обязательно</strong> для заполнения
                </mat-error>
            </mat-form-field>
        </div>

        <!-- Password -->
        <div>
            <mat-form-field>
                <mat-label>Пароль</mat-label>
                <input matInput
                       required
                       minlength="4"
                       [errorStateMatcher]="errorStateMatcher"
                       type="password"
                       [(ngModel)]="loginModel.password"
                       name="password"
                       #passwordLogin="ngModel" />
                <mat-error *ngIf="passwordLogin.hasError('required')">
                    Поля <strong>обязательно</strong> для заполнения
                </mat-error>
            </mat-form-field>
        </div>

        <!-- Login buttons -->
        <div>
            <button mat-raised-button
                    type="submit"
                    color="primary">
                Вход
            </button>
        </div>

    </form>
</div>