<div class="container container-custom">
  <h2>Список менеджеров</h2>

  <div>
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['/managers/edit', '']"
    >
      Добавить менеджера
    </button>
  </div>

  <div class="table-container">
    <table
      mat-table
      [dataSource]="dataSource"
      class="example-table"
      matSort
      matSortActive="created"
      matSortDisableClear
      matSortDirection="desc"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td
          mat-cell
          *matCellDef="let row"
          class="clickable"
          [routerLink]="['/managers/edit', row.id]"
        >
          {{ row.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Имя</th>
        <td
          mat-cell
          *matCellDef="let row"
          class="clickable"
          [routerLink]="['/managers/edit', row.id]"
        >
          {{ row.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="login">
        <th mat-header-cell *matHeaderCellDef>Логин</th>
        <td
          mat-cell
          *matCellDef="let row"
          class="clickable"
          [routerLink]="['/managers/edit', row.id]"
        >
          {{ row.login }}
        </td>
      </ng-container>

      <ng-container matColumnDef="del">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-icon
            style="cursor: pointer"
            color="warn"
            aria-hidden="false"
            (click)="delete(row.id)"
            >delete</mat-icon
          >
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="[10, 20]"></mat-paginator>
</div>
