<div class="manager container container-custom">
  <form class="manager_form" #managerForm="ngForm" (ngSubmit)="submit()">
    <mat-form-field class="manager_form__field">
      <mat-label>Имя</mat-label>
      <input matInput required [errorStateMatcher]="errorStateMatcher" type="text" [(ngModel)]="model.name" name="name" #name="ngModel" />
      <mat-error *ngIf="name.hasError('required')">
        Поля <strong>обязательно</strong> для заполнения
      </mat-error>
    </mat-form-field>

    <mat-form-field class="manager_form__field">
      <mat-label>Логин</mat-label>
      <input matInput required [errorStateMatcher]="errorStateMatcher" type="text" [(ngModel)]="model.login" name="login" #login="ngModel" />
      <mat-error *ngIf="login.hasError('required')">
        Поля <strong>обязательно</strong> для заполнения
      </mat-error>
    </mat-form-field>

    <mat-form-field class="manager_form__field">
      <mat-label>Email</mat-label>
      <input matInput required [errorStateMatcher]="errorStateMatcher" type="email" [(ngModel)]="model.email" name="email" #email="ngModel" />
      <mat-error *ngIf="email.hasError('required')">
        Поля <strong>обязательно</strong> для заполнения
      </mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field class="manager_form__field" *ngIf="!isEdit">
      <mat-label>Пароль</mat-label>
      <input matInput required minlength="4" [errorStateMatcher]="errorStateMatcher" type="password" [(ngModel)]="password" name="password" #passwordLogin="ngModel" />
      <mat-error *ngIf="passwordLogin.hasError('required')">
        Поля <strong>обязательно</strong> для заполнения
      </mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary" *ngIf="!isEdit">
      Создать
    </button>

    <div *ngIf="isEdit && !isLoading" class="manager_form__buttons">
      <div style="display:flex; gap: 2em;flex-wrap: wrap;">
        <button mat-raised-button color="primary" class="manager_form__buttons-button" [disabled]="!modelChanged" (click)="update()">
          Обновить
        </button>
        <button mat-raised-button color="warn" class="manager_form__buttons-button" (click)="delete(); $event.preventDefault()">
          Удалить
        </button>

        <button *ngIf="model.id" mat-raised-button color="accent" class="manager_form__buttons-button" (click)="$event.preventDefault();" routerLink="/managers/edit/{{model.id}}/password">
          Сменить пароль
        </button>

        <button *ngIf="!model.isBlocked" mat-raised-button color="accent" class="manager_form__buttons-button" (click)="block(true); $event.preventDefault();">
          Заблокировать менеджера
        </button>

        <button *ngIf="model.isBlocked" mat-raised-button color="primary" class="manager_form__buttons-button" (click)="block(false); $event.preventDefault();">
          Разблокировать менеджера
        </button>
      </div>

      <div style="display:flex;  gap: 2em;">

      </div>

    </div>
  </form>
</div>

<div class="loader" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>