<div class="container container-custom">
    <h2>Проверка правил</h2>

    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="created" matSortDisableClear matSortDirection="desc">

            <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef>Дата создания</th>
                <td mat-cell *matCellDef="let row">
                    {{ row.created | date: "dd.MM.YYYY" }}
                </td>
            </ng-container>

            <ng-container matColumnDef="deadline">
                <th mat-header-cell *matHeaderCellDef>Дедлайн</th>
                <td mat-cell *matCellDef="let row">
                    {{ row.deadline | date: "dd.MM.YYYY" }}
                </td>
            </ng-container>

            <ng-container matColumnDef="offerNumber">
                <th mat-header-cell *matHeaderCellDef>Номер КП</th>
                <td mat-cell *matCellDef="let row">
                    {{ row.offerNumber }}
                </td>
            </ng-container>

            <ng-container matColumnDef="task">
                <th mat-header-cell *matHeaderCellDef>Задача</th>
                <td mat-cell *matCellDef="let row">
                    {{ row.task }}
                </td>
            </ng-container>

            <ng-container matColumnDef="report">
                <th mat-header-cell *matHeaderCellDef>Отчёт</th>
                <td mat-cell *matCellDef="let row">
                    {{ row.report }}
                </td>
            </ng-container>

            <ng-container matColumnDef="completed">
                <th mat-header-cell *matHeaderCellDef>Помечено выполненным</th>
                <td mat-cell *matCellDef="let row">
                    {{ row.completed }}
                </td>
            </ng-container>

            <ng-container matColumnDef="approveBtn">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <mat-icon style="cursor: pointer; color:#00bf00" aria-hidden="false" (click)="approve(row)">check_circle_outline</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="rejectBtn">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <mat-icon style="cursor: pointer" color="warn" aria-hidden="false" (click)="approve(row)">clear</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[20, 40, 100]" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>