@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-custom {
  margin: 5em auto;
}

.loader {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clickable {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.mcrm-snack-bar {
  background-color: #673ab7;
  color: #fff;
}

.faded-75 {
  opacity: 0.75;
}

.faded-50 {
  opacity: 0.5;
}

.completed {
  text-decoration: line-through;
}

.red {
  color: #f44336;
}

.green {
  color: #00bf00;
}

.bold {
  font-weight: bold;
}