<div class="offer">
  <div class="row offer_data">
    <div class="col-12">
      <mat-card style="display: flex" *ngIf="model.id">
        <mat-card-title class="offer_data_title"
          >Номер КП: {{ model.number }} ({{
            model.client!.name
          }})</mat-card-title
        >
        <div style="flex: 1"></div>
        <div>
          <div>
            <mat-form-field class="offer_section__wrapper__field">
              <mat-label>Стадия работы</mat-label>
              <input
                matInput
                type="text"
                [(ngModel)]="model.stage"
                name="stage"
                #stage="ngModel"
              />
            </mat-form-field>
          </div>
          <mat-radio-group
            [(ngModel)]="model.potential"
            style="display: flex; gap: 1em"
          >
            <mat-radio-button
              *ngFor="let potential of potentialList"
              [value]="potential"
            >
              {{ potential }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-card>
    </div>
  </div>

  <!-- Выбор клиента (создание) -->
  <mat-form-field *ngIf="!isEdit && clients.length" style="width: 50%">
    <mat-label>Клиент</mat-label>

    <input
      type="text"
      matInput
      [formControl]="clientSelectControl"
      [matAutocomplete]="auto"
    />

    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="onClientSelected($event.option.value)"
      [displayWith]="getClientOptionText"
    >
      <mat-option
        [value]="option"
        *ngFor="let option of filteredClients | async"
      >
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div class="row" *ngIf="isEdit" style="padding-bottom: 2em">
    <div class="col-12" style="padding-bottom: 0.5em;">
      <button mat-flat-button (click)="onAddNewsbreakClick()">
        <mat-icon>add</mat-icon>
        Добавить инфоповод
      </button>
    </div>
    <div class="col-12" *ngIf="model.newsbreaks?.length">
      <mat-card>
        <mat-card-title style="font-size: 1.25em"
          >Список инфоповодов</mat-card-title
        >
        <table class="breaks-table">
          <tr class="breaks-table_head">
            <th>Текст</th>
            <th>Дата создания</th>
            <th>Автор</th>
          </tr>
          <tr class="breaks-table_body" *ngFor="let break of model.newsbreaks">
            <td>{{ break.text }}</td>
            <td>{{ break.created |  date:'dd.MM.YYYY' }}</td>
            <td>{{ break.author?.name }}</td>
          </tr>
        </table>
      </mat-card>
    </div>
  </div>

  <!-- Основные поля -->
  <div class="row" *ngIf="isEdit">
    <div class="col-6">
      <mat-card class="offer_card">
        <!-- Фотографии и описание товара -->
        <div class="offer_section">
          <mat-checkbox
            class="offer_section_cb"
            [ngClass]="{ 'faded-50': !isFieldSelected('description') }"
            [checked]="isFieldSelected('description')"
            (change)="onFieldSelectChange($event)"
            name="description"
          ></mat-checkbox>
          <mat-label [ngClass]="{ 'faded-50': !isFieldSelected('description') }"
            >Фотографии и описание товара</mat-label
          >
          <div class="offer_section__wrapper">
            <mat-form-field class="offer_section__wrapper__field">
              <textarea
                style="resize: none"
                [disabled]="!isFieldSelected('description')"
                rows="4"
                matInput
                [errorStateMatcher]="errorStateMatcher"
                type="text"
                [(ngModel)]="model.description"
                name="description"
                #description="ngModel"
              ></textarea>
            </mat-form-field>
          </div>
          <div [ngClass]="{ 'faded-50': !isFieldSelected('description') }">
            <input
              type="file"
              placeholder="Choose file"
              style="display: none"
              accept="image/*"
              (change)="uploadFile(photoFileInput.files, 2, false)"
              #photoFileInput
            />

            <button
              mat-raised-button
              class="fileButton"
              [disabled]="!isFieldSelected('description')"
              (click)="photoFileInput.click()"
            >
              Добавить фотографии
            </button>

            <div class="offer_section__images">
              <div
                *ngFor="let file of getFiles(2)"
                class="offer_section__images-image"
              >
                <div class="offer_section__images-image-fileData">
                  <a [href]="file.path" target="_blank">{{ file.name }}</a>
                  <mat-icon
                    color="warn"
                    style="transform: scale(0.5); cursor: pointer"
                    (click)="deleteFile(file.id)"
                    >clear</mat-icon
                  >
                </div>

                <img
                  [src]="file.path"
                  class="offer_section__images-image-src"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Тип системы/продукта -->
        <div class="offer_section">
          <mat-checkbox
            class="offer_section_cb"
            [ngClass]="{ 'faded-50': !isFieldSelected('productSystemType') }"
            [checked]="isFieldSelected('productSystemType')"
            (change)="onFieldSelectChange($event)"
            name="productSystemType"
          ></mat-checkbox>
          <mat-label
            [ngClass]="{ 'faded-50': !isFieldSelected('productSystemType') }"
            >Тип системы/продукта</mat-label
          >
          <div>
            <mat-form-field class="offer_section__wrapper__field">
              <input
                matInput
                [disabled]="!isFieldSelected('productSystemType')"
                [errorStateMatcher]="errorStateMatcher"
                type="text"
                [(ngModel)]="model.productSystemType"
                name="productSystemType"
                #productSystemType="ngModel"
              />
            </mat-form-field>
          </div>
        </div>

        <!-- Краткое описание отрасли клиента -->
        <div class="offer_section">
          <mat-checkbox
            class="offer_section_cb"
            [ngClass]="{
              'faded-50': !isFieldSelected('briefIndustryDescription')
            }"
            [checked]="isFieldSelected('briefIndustryDescription')"
            (change)="onFieldSelectChange($event)"
            name="briefIndustryDescription"
          ></mat-checkbox>
          <mat-label
            [ngClass]="{
              'faded-50': !isFieldSelected('briefIndustryDescription')
            }"
            >Краткое описание отрасли клиента</mat-label
          >
          <div class="offer_section__wrapper">
            <mat-form-field class="offer_section__wrapper__field">
              <textarea
                style="resize: none"
                rows="4"
                [disabled]="!isFieldSelected('briefIndustryDescription')"
                matInput
                [errorStateMatcher]="errorStateMatcher"
                type="text"
                [(ngModel)]="model.briefIndustryDescription"
                name="briefIndustryDescription"
                #briefIndustryDescription="ngModel"
              ></textarea>
            </mat-form-field>
          </div>
        </div>

        <!-- Кейс -->
        <div class="offer_section">
          <mat-checkbox
            class="offer_section_cb"
            [ngClass]="{ 'faded-50': !isFieldSelected('offerCase') }"
            [checked]="isFieldSelected('offerCase')"
            (change)="onFieldSelectChange($event)"
            name="offerCase"
          ></mat-checkbox>
          <mat-label [ngClass]="{ 'faded-50': !isFieldSelected('offerCase') }"
            >Кейс</mat-label
          >
          <div class="offer_section__wrapper">
            <mat-form-field class="offer_section__wrapper__field">
              <textarea
                style="resize: none"
                rows="4"
                [disabled]="!isFieldSelected('offerCase')"
                matInput
                [errorStateMatcher]="errorStateMatcher"
                type="text"
                [(ngModel)]="model.offerCase"
                name="offerCase"
                #offerCase="ngModel"
              ></textarea>
            </mat-form-field>
          </div>
        </div>

        <!-- Суть предложения -->
        <div class="offer_section">
          <mat-checkbox
            class="offer_section_cb"
            [ngClass]="{ 'faded-50': !isFieldSelected('offerPoint') }"
            [checked]="isFieldSelected('offerPoint')"
            (change)="onFieldSelectChange($event)"
            name="offerPoint"
          ></mat-checkbox>
          <mat-label [ngClass]="{ 'faded-50': !isFieldSelected('offerPoint') }"
            >Суть предложения</mat-label
          >
          <div class="offer_section__wrapper">
            <mat-form-field class="offer_section__wrapper__field">
              <textarea
                style="resize: none"
                rows="4"
                [disabled]="!isFieldSelected('offerPoint')"
                matInput
                [errorStateMatcher]="errorStateMatcher"
                type="text"
                [(ngModel)]="model.offerPoint"
                name="offerPoint"
                #offerPoint="ngModel"
              ></textarea>
            </mat-form-field>
          </div>
        </div>

        <!-- Рекомендации клиенту -->
        <div class="offer_section">
          <mat-checkbox
            class="offer_section_cb"
            [ngClass]="{ 'faded-50': !isFieldSelected('recommendations') }"
            [checked]="isFieldSelected('recommendations')"
            (change)="onFieldSelectChange($event)"
            name="recommendations"
          ></mat-checkbox>
          <mat-label
            [ngClass]="{ 'faded-50': !isFieldSelected('recommendations') }"
            >Рекомендации клиенту</mat-label
          >
          <div class="offer_section__wrapper">
            <mat-form-field class="offer_section__wrapper__field">
              <textarea
                style="resize: none"
                rows="4"
                [disabled]="!isFieldSelected('recommendations')"
                matInput
                [errorStateMatcher]="errorStateMatcher"
                type="text"
                [(ngModel)]="model.recommendations"
                name="recommendations"
                #recommendations="ngModel"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
    <!-- end col -->

    <div class="col-6">
      <mat-card class="offer_card">
        <!-- Технический паспорт -->
        <div class="offer_section">
          <mat-checkbox
            class="offer_section_cb"
            [ngClass]="{ 'faded-50': !isFieldSelected('techPassport') }"
            [checked]="isFieldSelected('techPassport')"
            (change)="onFieldSelectChange($event)"
            name="techPassport"
          ></mat-checkbox>
          <mat-label
            [ngClass]="{ 'faded-50': !isFieldSelected('techPassport') }"
            >Технический паспорт</mat-label
          >
          <div
            class="offer_fieldWrapper"
            [ngClass]="{ 'faded-50': !isFieldSelected('techPassport') }"
          >
            <input
              type="file"
              placeholder="Choose file"
              style="display: none"
              accept="image/*"
              (change)="uploadFile(techPassportFileInput.files, 4, true)"
              #techPassportFileInput
            />

            <button
              mat-raised-button
              class="fileButton"
              [disabled]="!isFieldSelected('techPassport')"
              (click)="techPassportFileInput.click()"
            >
              Добавить изображение
            </button>

            <div class="offer_section__images">
              <div
                *ngFor="let file of getFiles(4)"
                class="offer_section__images-image"
              >
                <div class="offer_section__images-image-fileData">
                  <a [href]="file.path" target="_blank">{{ file.name }}</a>
                  <mat-icon
                    color="warn"
                    style="transform: scale(0.5); cursor: pointer"
                    (click)="deleteFile(file.id)"
                    >clear</mat-icon
                  >
                </div>
                <img
                  [src]="file.path"
                  class="offer_section__images-image-src"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Сертификаты -->
        <div class="offer_section">
          <mat-checkbox
            class="offer_section_cb"
            [ngClass]="{ 'faded-50': !isFieldSelected('certificate') }"
            [checked]="isFieldSelected('certificate')"
            (change)="onFieldSelectChange($event)"
            name="certificate"
          ></mat-checkbox>
          <mat-label [ngClass]="{ 'faded-50': !isFieldSelected('certificate') }"
            >Сертификаты</mat-label
          >
          <div
            class="offer_fieldWrapper"
            [ngClass]="{ 'faded-50': !isFieldSelected('certificate') }"
          >
            <input
              type="file"
              placeholder="Choose file"
              style="display: none"
              accept="image/*"
              (change)="uploadFile(certificateFileInput.files, 3, false)"
              #certificateFileInput
            />

            <button
              mat-raised-button
              class="fileButton"
              [disabled]="!isFieldSelected('certificate')"
              (click)="certificateFileInput.click()"
            >
              Добавить изображения
            </button>

            <div class="offer_section__images">
              <div
                *ngFor="let file of getFiles(3)"
                class="offer_section__images-image"
              >
                <div class="offer_section__images-image-fileData">
                  <a [href]="file.path" target="_blank">{{ file.name }}</a
                  ><mat-icon
                    color="warn"
                    style="transform: scale(0.5); cursor: pointer"
                    (click)="deleteFile(file.id)"
                    >clear</mat-icon
                  >
                </div>
                <img
                  [src]="file.path"
                  class="offer_section__images-image-src"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Прочая документация -->
        <div class="offer_section">
          <mat-checkbox
            class="offer_section_cb"
            [ngClass]="{ 'faded-50': !isFieldSelected('otherDocumentation') }"
            [checked]="isFieldSelected('otherDocumentation')"
            (change)="onFieldSelectChange($event)"
            name="otherDocumentation"
          ></mat-checkbox>
          <mat-label
            [ngClass]="{ 'faded-50': !isFieldSelected('otherDocumentation') }"
            >Прочая документация</mat-label
          >
          <div class="offer_section__wrapper">
            <mat-form-field class="offer_section__wrapper__field">
              <textarea
                style="resize: none"
                rows="4"
                [disabled]="!isFieldSelected('otherDocumentation')"
                matInput
                [errorStateMatcher]="errorStateMatcher"
                type="text"
                [(ngModel)]="model.otherDocumentation"
                name="otherDocumentation"
                #otherDocumentation="ngModel"
              ></textarea>
            </mat-form-field>
          </div>
        </div>

        <!-- Сопроводительное письмо -->
        <div class="offer_section">
          <mat-checkbox
            class="offer_section_cb"
            [ngClass]="{ 'faded-50': !isFieldSelected('coveringLetter') }"
            [checked]="isFieldSelected('coveringLetter')"
            (change)="onFieldSelectChange($event)"
            name="coveringLetter"
          ></mat-checkbox>
          <mat-label
            [ngClass]="{ 'faded-50': !isFieldSelected('coveringLetter') }"
            >Сопроводительное письмо</mat-label
          >
          <div class="offer_section__wrapper">
            <mat-form-field class="offer_section__wrapper__field">
              <textarea
                style="resize: none"
                rows="4"
                [disabled]="!isFieldSelected('coveringLetter')"
                matInput
                [errorStateMatcher]="errorStateMatcher"
                type="text"
                [(ngModel)]="model.coveringLetter"
                name="coveringLetter"
                #coveringLetter="ngModel"
              ></textarea>
            </mat-form-field>
          </div>
        </div>

        <!-- Аналогичные кейсы -->
        <div class="offer_section">
          <mat-checkbox
            class="offer_section_cb"
            [ngClass]="{ 'faded-50': !isFieldSelected('similarCases') }"
            [checked]="isFieldSelected('similarCases')"
            (change)="onFieldSelectChange($event)"
            name="similarCases"
          ></mat-checkbox>
          <mat-label
            [ngClass]="{ 'faded-50': !isFieldSelected('similarCases') }"
            >Аналогичные кейсы</mat-label
          >
          <div class="offer_section__wrapper">
            <mat-form-field class="offer_section__wrapper__field">
              <textarea
                style="resize: none"
                rows="4"
                [disabled]="!isFieldSelected('similarCases')"
                matInput
                [errorStateMatcher]="errorStateMatcher"
                type="text"
                [(ngModel)]="model.similarCases"
                name="similarCases"
                #similarCases="ngModel"
              ></textarea>
            </mat-form-field>
          </div>
        </div>

        <!-- Визитка -->
        <div class="offer_section">
          <mat-checkbox
            class="offer_section_cb"
            [ngClass]="{ 'faded-50': !isFieldSelected('card') }"
            [checked]="isFieldSelected('card')"
            (change)="onFieldSelectChange($event)"
            name="card"
          ></mat-checkbox>
          <mat-label [ngClass]="{ 'faded-50': !isFieldSelected('card') }"
            >Визитка</mat-label
          >
          <div
            class="offer_fieldWrapper"
            [ngClass]="{ 'faded-50': !isFieldSelected('card') }"
          >
            <input
              type="file"
              placeholder="Choose file"
              style="display: none"
              accept="image/*"
              (change)="uploadFile(cardFileInput.files, 5, true)"
              #cardFileInput
            />

            <button
              mat-raised-button
              class="fileButton"
              [disabled]="!isFieldSelected('card')"
              (click)="cardFileInput.click()"
            >
              Добавить изображение
            </button>

            <div class="offer_section__images">
              <div
                *ngFor="let file of getFiles(5)"
                class="offer_section__images-image"
              >
                <div class="offer_section__images-image-fileData">
                  <a [href]="file.path" target="_blank">{{ file.name }}</a
                  ><mat-icon
                    color="warn"
                    style="transform: scale(0.5); cursor: pointer"
                    (click)="deleteFile(file.id)"
                    >clear</mat-icon
                  >
                </div>
                <img
                  [src]="file.path"
                  class="offer_section__images-image-src"
                />
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="row justify-content-end">
    <div class="col-8 offer__buttons">
      <button
        mat-raised-button
        color="accent"
        class="offer__buttons-button"
        (click)="sendClick()"
      >
        Отправить КП клиенту
      </button>
    </div>

    <div class="col-4 offer__buttons">
      <button
        mat-raised-button
        (click)="submit()"
        color="primary"
        *ngIf="!isEdit"
      >
        Создать
      </button>

      <div *ngIf="isEdit && !isLoading" class="offer__buttons-edit">
        <button
          mat-raised-button
          color="primary"
          class="offer__buttons-button"
          [disabled]="!modelChanged"
          (click)="update()"
        >
          Обновить
        </button>
        <button
          mat-raised-button
          color="warn"
          class="offer__buttons-button"
          (click)="delete()"
        >
          Удалить
        </button>
      </div>
    </div>
  </div>
</div>

<div class="loader" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
